doctype html
html(lang='cn')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title 股东投票
    link(href='../public/css/bootstrap.min.css', rel='stylesheet')
    link(href='../public/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css', rel='stylesheet')
    style(type='text/css').
      .row{
        margin-top: 20px;
      }
  body
    .container
      h2.text-center(style='padding-bottom: 15px;margin-bottom: 15px;border-bottom: 2px solid #eee;') 股东表决结果录入
      .row
        .col-md-6
          form
            label.sr-only(for='result') 股东表决结果：
            input#result.form-control(type='text', name='result', placeholder='股东编码+表决结果', required='', autofocus='')
        .col-md-6
          button.btn.btn-primary.btn-md(type='button') 确  定
      .row
        table(data-toggle='table')
          thead
            tr
              th 股东编码
              th 股东名称
              th 事项一结果
              th 事项二结果
              th 事项三结果
              th 事项四结果
              th 事项五结果
          tbody
            tr
              td 1
              td Item 1
              td 同意
              td 同意
              td 同意
              td 同意
              td 弃权
            tr
              td 2
              td Item 2
              td 不同意
              td 不同意
              td 同意
              td 同意
              td 弃权
            tr
              td 3
              td Item 3
              td 弃权
              td 不同意
              td 同意
              td 不同意
              td 同意
    script(src='https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
    script(src='../public/js/bootstrap.min.js')
    script(src='https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js')
    script(src='https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js')
